apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  annotations:
    avp.kubernetes.io/path: "../secrets.sops.yaml"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    chart: ingress-nginx
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 4.14.3
    helm:
      version: v3
      valuesObject:
        controller:
          config:
            enable-real-ip: "true"
            use-forwarded-headers: "true"
            proxy-real-ip-cidr: "<ingress-nginx | jsonPath {.externalip}>/32"
          nodeSelector:
            zone: cloud
          allowSnippetAnnotations: true
          extraVolumes:
          - name: crowdsec-bouncer-plugin
            emptyDir: {}
          extraInitContainers:
          - name: init-clone-crowdsec-bouncer
            image: crowdsecurity/lua-bouncer-plugin
            imagePullPolicy: IfNotPresent
            env:
              - name: API_URL
                value: "http://crowdsec-service.crowdsec.svc.cluster.local:8080"
              - name: API_KEY
                value: <crowdsec | jsonPath {.nginx-bouncer}>
              - name: BOUNCER_CONFIG
                value: "/crowdsec/crowdsec-bouncer.conf"
            command: ['sh', '-c', "apk update; apk add bash; bash /docker_start.sh; mkdir -p /lua_plugins/crowdsec/; cp -R /crowdsec/* /lua_plugins/crowdsec/"]
            volumeMounts:
            - name: crowdsec-bouncer-plugin
              mountPath: /lua_plugins
          extraVolumeMounts:
          - name: crowdsec-bouncer-plugin
            mountPath: /etc/nginx/lua/plugins/crowdsec
            subPath: crowdsec
          config:
            plugins: "crowdsec"
            lua-shared-dicts: "crowdsec_cache: 100m"

        service:
          externalIPs:
          - <ingress-nginx | jsonPath {.externalip}>
  destination:
    name: "in-cluster"
    namespace: ingress-nginx
  syncPolicy:
    automated: {}
    syncOptions:
    - CreateNamespace=true
    - ApplyOutOfSyncOnly=true
